<%- include('../partials/header') %>

<h2><%= item.id ? 'Edit Item' : 'Create Item' %></h2>

<% if (errors && errors.length) { %>
  <ul style="color:red">
    <% errors.forEach(e => { %> <li><%= e.msg %></li> <% }) %>
  </ul>
<% } %>

<form method="POST" action="<%= item.id ? '/items/' + item.id + '/edit' : '/items/new' %>">
  <label>Name</label><br>
  <input name="name" type="text" value="<%= item.name || '' %>" required><br>

  <label>Description</label><br>
  <textarea name="description"><%= item.description || '' %></textarea><br>

  <label>Price</label><br>
  <input name="price" type="number" step="0.01" value="<%= item.price || '' %>" required><br>

  <label>Category</label><br>
  <select name="category_id" required>
    <option value="">-- choose --</option>
    <% categories.forEach(cat => { %>
      <option value="<%= cat.id %>" <%= (item.category_id == cat.id) ? 'selected' : '' %>><%= cat.name %></option>
    <% }) %>
  </select><br>

  <button type="submit">Save</button>
</form>

<%- include('../partials/footer') %>
