<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Write a new message</a>

    <ul>
      <% messages.forEach(function(message, index) { %>
      <li>
        <strong><%= message.user %></strong>: <%= message.text %> <br />
        <small><%= message.added.toLocaleString() %></small>
      </li>

      <%}) %>
    </ul>
  </body>
</html>
