<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% if (locals.users) {%> <% users.forEach(user => { %>
      <li>
        ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>
      </li>
      <li>
        ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>
        <a href="/<%= user.id %>/update">Update</a>
      </li>
      <% }); %> <% } %>
    </ul>
    <a href="/create">Create a user</a>
  </body>
</html>
